NODE_ENV=development
PORT=5000

DATABASE_URL="postgresql://postgres:password@localhost:5432/smart_pothole"

FRONTEND_URL="http://localhost:3000"

JWT_ACCESS_SECRET="your-access-secret"
JWT_REFRESH_SECRET="your-refresh-secret"

JWT_ACCESS_EXPIRES_IN="15m"
JWT_REFRESH_EXPIRES_IN="7d"

AI_SERVICE_URL="http://localhost:8000"

AWS_REGION="ap-south-1"
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_S3_BUCKET_NAME=""

MAX_FILE_SIZE_MB=50

LOG_LEVEL="info"
